Package: com.simon.flipoff
Name: FlipOff
Version: 1.1.0
Architecture: iphoneos-arm64
Description: Suppresses the unsupported charging accessory alert in SpringBoard.
Maintainer: Simon
Author: Simon
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
