Package: com.simon.flipofftest
Name: Accessory Alert Test
Version: 0.1.0
Architecture: iphoneos-arm64
Description: Test utility for triggering SpringBoard's native unsupported accessory alert.
Maintainer: Simon
Author: Simon
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
